@model Web.Models.BalanceViewModel


	<!--begin::Slide-->
	<div class="col-12 mb-3 tns-item mt-4" id="tns1-item2" aria-hidden="true" tabindex="-1" >
	@foreach (var account in Model.Accounts)
	{
		<!--begin::Item-->
		<div class="d-flex flex-stack ">
			<!--begin::Section-->
			<div class="m-0">
				<!--begin::Info-->
				<div class="d-flex align-items-center">
					<span class="text-gray-800 fw-bold d-block fs-2hx lh-1 ls-n2">@account.CurrentBalance.ToString("c2")</span>
					<span class="fw-semibold fs-2 text-gray-600 mx-1 pt-1">/</span>
					<span class="text-gray-600 fw-semibold fs-2 me-3 pt-2">@account.Currency</span>
					@* <span class="badge badge-lg badge-light-success align-self-center px-2">@account.Currency</span> *@
				</div>
				<!--end::Info-->
				<span class="text-gray-500 fw-semibold fs-6">@account.CatAccountType.Description</span>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Item-->

		@if (account != Model.Accounts.Last())
		{
			<!--begin::Separator-->
			<div class="separator separator-dashed my-5"></div>
			<!--end::Separator-->
		}
	}
	</div>
	<!--end::Slide-->