@model Web.Models.BalanceViewModel

<!--begin::Col-->
<div class="col-sm-6 col-xl-3 mb-xl-10">
	<!--begin::Card widget 2-->
	<div class="card h-lg-100">
		<!--begin::Body-->
		<div class="card-body d-flex justify-content-between align-items-start flex-column">
			<!--begin::Icon-->
			<div class="m-0">
				<i class="ki-duotone ki-chart-simple fs-2hx text-gray-600">
					<span class="path1"></span>
					<span class="path2"></span>
					<span class="path3"></span>
					<span class="path4"></span>
				</i>
			</div>
			<!--end::Icon-->
			<!--begin::Section-->
			<div class="d-flex flex-column my-7">
				<div class="d-flex flex-wrap d-grid gap-5  mt-3 align-items-center" bis_skin_checked="1">
					<!--begin::Item-->
					<div class="border-end-dashed border-end border-gray-300 pe-xxl-7 me-xxl-5" bis_skin_checked="1">
						<!--begin::Statistics-->
						<div class="d-flex mb-2" bis_skin_checked="1">
							<span class="fs-3hx fw-bold text-gray-800 me-2 lh-1 ls-n2" id="lblNumEfectividad">0%</span>
						</div>
						<!--end::Statistics-->
						<!--begin::Description-->
						<span class="fs-6 fw-semibold text-gray-500">Efectividad</span>
						<!--end::Description-->
					</div>
					<!--end::Item-->
					<!--begin::Item-->
					<div class="m-0" bis_skin_checked="1">
						<!--begin::Statistics-->
						<div class="d-flex align-items-center mb-2" bis_skin_checked="1">
							<!--begin::Value-->
							<span class="fs-3hx fw-bold text-gray-800 me-2 lh-1 ls-n2" id="lblNumTotalTrades">0</span>
							<!--end::Value-->
						</div>
						<!--end::Statistics-->
						<!--begin::Description-->
						<span class="fs-6 fw-semibold text-gray-500">Trades Totales</span>
						<!--end::Description-->
					</div>
					<!--end::Item-->
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::Card widget 2-->
</div>
<!--end::Col-->
@foreach (var account in Model.Accounts)
{
	<!--begin::Col-->
	<div class="col-sm-6 col-xl-3 mb-xl-10">
		<!--begin::Card widget 2-->
		<div class="card h-lg-100">
			<!--begin::Body-->
			<div class="card-body d-flex justify-content-between align-items-start flex-column">
				<!--begin::Icon-->
				<div class="m-0">
					<!--begin::Svg Icon | path: /var/www/html/core/html/src/media/icons/duotune/finance/fin008.svg-->
					<span class="svg-icon svg-icon-muted svg-icon-2hx">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path opacity="0.3" d="M3.20001 5.91897L16.9 3.01895C17.4 2.91895 18 3.219 18.1 3.819L19.2 9.01895L3.20001 5.91897Z" fill="currentColor" />
							<path opacity="0.3" d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21C21.6 10.9189 22 11.3189 22 11.9189V15.9189C22 16.5189 21.6 16.9189 21 16.9189H16C14.3 16.9189 13 15.6189 13 13.9189ZM16 12.4189C15.2 12.4189 14.5 13.1189 14.5 13.9189C14.5 14.7189 15.2 15.4189 16 15.4189C16.8 15.4189 17.5 14.7189 17.5 13.9189C17.5 13.1189 16.8 12.4189 16 12.4189Z" fill="currentColor" />
							<path d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21V7.91895C21 6.81895 20.1 5.91895 19 5.91895H3C2.4 5.91895 2 6.31895 2 6.91895V20.9189C2 21.5189 2.4 21.9189 3 21.9189H19C20.1 21.9189 21 21.0189 21 19.9189V16.9189H16C14.3 16.9189 13 15.6189 13 13.9189Z" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="d-flex flex-column my-7">
					<!--begin::Number-->
					<div>
						<span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">@account.CurrentBalance.ToString("c2")</span>
						<span class="fw-semibold fs-2 text-gray-600 mx-1 pt-1">/</span>
						<span class="text-gray-600 fw-semibold fs-2 me-3 pt-2">@account.Currency</span>
					</div>
					
					<!--end::Number-->
					<!--begin::Follower-->
					<div class="m-0">
						<span class="fw-semibold fs-6 text-gray-500">@account.CatAccountType.Description</span>
					</div>
					<!--end::Follower-->
				</div>
				<!--end::Section-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Card widget 2-->
	</div>
	<!--end::Col-->
}

