@model Web.Models.OrdersSellViewModel

@{
	Layout = null;

	var OrderTypeItems = (List<SelectListItem>)ViewBag.OrderTypeItems;
}

<!--begin::Stepper-->
<div class="stepper stepper-links d-flex flex-column gap-5" id="kt_modal_top_up_wallet_stepper">
	<!--begin::Nav-->
	<div class="stepper-nav justify-content-center py-2">
		<!--begin::Step 1-->
		<div class="stepper-item current" data-kt-stepper-element="nav">
			<h3 class="stepper-title">Información General</h3>
		</div>
		<!--end::Step 1-->
		<!--begin::Step 2-->
		<div class="stepper-item" data-kt-stepper-element="nav">
			<h3 class="stepper-title">Información Venta</h3>
		</div>
		<!--end::Step 2-->
	</div>
	<!--end::Nav-->
	<!--begin::Form-->
	<form class="mx-auto w-100 mw-600px pt-2 pb-10" novalidate="novalidate" id="kt_modal_top_up_wallet_stepper_form">

		<!--begin::Step 1-->
		<div class="current" data-kt-stepper-element="content">
			<!--begin::Wrapper-->
			<div class="w-100">
				<div class="row">
					<!--begin::Col-->
					<div class="col-lg-6 d-flex align-items-center">
						<!--begin::Checkbox-->
						<label class="form-check form-check-custom form-check-solid me-5 mt-12">
							<input class="form-check-input h-20px w-20px" type="checkbox" value="1" id="SL" name="SL" />
							<span class="form-check-label fw-semibold">SL</span>
						</label>
						<!--end::Checkbox-->
						<!--begin::Checkbox-->
						<label class="form-check form-check-custom form-check-solid me-5 mt-12">
							<input class="form-check-input h-20px w-20px" type="checkbox" value="1" id="TP1" name="TP1" />
							<span class="form-check-label fw-semibold">TP1</span>
						</label>
						<!--end::Checkbox-->
						<!--begin::Checkbox-->
						<label class="form-check form-check-custom form-check-solid me-5 mt-12">
							<input class="form-check-input h-20px w-20px" type="checkbox" value="1" id="TP2" name="TP2" />
							<span class="form-check-label fw-semibold">TP2</span>
						</label>
						<!--end::Checkbox-->
						<!--begin::Checkbox-->
						<label class="form-check form-check-custom form-check-solid me-5 mt-12">
							<input class="form-check-input h-20px w-20px" type="checkbox" value="1" id="TP3" name="TP3" />
							<span class="form-check-label fw-semibold">TP3</span>
						</label>
						<!--end::Checkbox-->
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-6">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Target:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="Target" name="Target" class="form-control form-control-solid" autocomplete="off" maxlength="18" value="0" />
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
				</div>
				<div class="row pt-2">
					<!--begin::Col-->
					<div class="col-lg-12">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Chart:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="Chart" name="Chart" class="form-control form-control-solid" autocomplete="off"  />
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
				</div>
				<div class="row pt-2">
					<!--begin::Col-->
					<div class="col-lg-12">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Comentarios:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<textarea id="Comments" name="Comments" class="form-control form-control-solid" autocomplete="off" rows="3"></textarea>
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
				</div>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Step 1-->
		<!--begin::Step 2-->
		<div data-kt-stepper-element="content">
			<!--begin::Wrapper-->
			<div class="w-100">
				<div class="row">
					<!--begin::Col-->
					<div class="col-lg-6">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Tipo de Orden:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								@Html.DropDownList("OrderTypeId", OrderTypeItems, new { @class = "form-select form-select-solid", data_control = "select2", data_placeholder = "Selecciona uno", data_hide_search = "true" })
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-6">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Tipo de Trade:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Selecciona uno" id="TradeTypeId" name="TradeTypeId">
									<option value=""></option>
									<option selected="selected" value="Sell">Venta</option>
								</select>
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->

				</div>
				<div class="row">
					<!--begin::Col-->
					<div class="col-lg-3">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Cantidad:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="Quantity" name="Quantity" class="form-control form-control-solid" autocomplete="off" maxlength="18" value="0" />
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-3">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Precio:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="Price" name="Price" class="form-control form-control-solid" autocomplete="off" maxlength="18" value="0" />
							</div>
							<!--end::Col-->
						</div>

						<!--end::Row-->
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-3">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Comisión:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="CommissionRate" name="CommissionRate" class="form-control form-control-solid" autocomplete="off" maxlength="18" value="0.001" />
							</div>
							<!--end::Col-->
						</div>
						<!--end::Row-->
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-3">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Label-->
							<label class="col-lg-12 col-form-label required fw-bold fs-6">Total:</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-12 fv-row fv-plugins-icon-container">
								<input type="text" id="Total" name="Total" class="form-control form-control-solid" autocomplete="off" maxlength="18" value="0" />
							</div>
							<!--end::Col-->
						</div>
						<!--end::Row-->
					</div>
					<!--end::Col-->
				</div>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Step 2-->
		<!--begin::Actions-->
		<div class="d-flex flex-stack pt-10">
			<!--begin::Wrapper-->
			<div class="me-2">
				<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
					<i class="ki-duotone ki-arrow-left fs-3 me-1">
						<span class="path1"></span>
						<span class="path2"></span>
					</i>Atrás
				</button>
			</div>
			<!--end::Wrapper-->
			<!--begin::Wrapper-->
			<div>
				<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit" id="submitButton">
					<span class="indicator-label">
						Guardar
						<i class="ki-duotone ki-arrow-right fs-3 ms-2 me-0">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
					</span>
					<span class="indicator-progress">
						Espere por favor...
						<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
					</span>
				</button>
				<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">
					Continuar
					<i class="ki-duotone ki-arrow-right fs-3 ms-1 me-0">
						<span class="path1"></span>
						<span class="path2"></span>
					</i>
				</button>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Actions-->
		<div hidden>
			@Html.HiddenFor(d => d.Id)
		</div>
	</form>
	<!--end::Form-->
</div>
<!--end::Stepper-->
<script>
	$(document).ready(function () {
	    // Define form element
		let form = document.getElementById('kt_modal_top_up_wallet_stepper_form');

		 // Init form validation rules.
		var validatorStep1 = FormValidation.formValidation(
			form,
			{
				fields: {
					'Chart': {
						validators: {
							notEmpty: {
								message: 'Obligatorio'
							},
						}
					},
				},
				plugins: {
					trigger: new FormValidation.plugins.Trigger(),
					bootstrap: new FormValidation.plugins.Bootstrap5({
						rowSelector: '.fv-row',
						eleInvalidClass: '',
						eleValidClass: ''
					}),
				}

			}
		);

		// Init form validation rules.
		var validatorStep2 = FormValidation.formValidation(
			form,
			{
				fields: {
					'Total': {
						validators: {
							notEmpty: {
								message: 'Obligatorio'
							},
							callback: {
								message: 'Obligatorio',
								callback: function (input) {
									const cashValue = parseFloat(input.value.replace(/[^0-9.-]+/g, '')) || 0; // Convierte a número

									return cashValue > 0;
								},
							},
						}
					},
				},
				plugins: {
					trigger: new FormValidation.plugins.Trigger(),
					bootstrap: new FormValidation.plugins.Bootstrap5({
						rowSelector: '.fv-row',
						eleInvalidClass: '',
						eleValidClass: ''
					}),
				}

			}
		);

		// Stepper lement
		var element = document.querySelector("#kt_modal_top_up_wallet_stepper");

		// Initialize Stepper
		var stepper = new KTStepper(element);

		// Handle next step
		stepper.on("kt.stepper.next", function (stepper) {
			if (validatorStep1) {
				validatorStep1.validate().then(function (status) {
					if (status == 'Valid') {
						stepper.goNext(); // go next step
					}
				});
			}
		});

		// Handle previous step
		stepper.on("kt.stepper.previous", function (stepper) {
			stepper.goPrevious(); // go previous step
		});


		const submitButton = document.getElementById('submitButton');
		submitButton.addEventListener("click", function () {		

			// Validate form before submit
			if (validatorStep2) {
				validatorStep2.validate().then(function (status) {
					if (status == 'Valid') {
						// Show loading indication
						submitButton.setAttribute('data-kt-indicator', 'on');

						// Disable button to avoid multiple click
						submitButton.disabled = true;

						CloseOrder();
					}
				});
			}

		});

		function CloseOrder() {
			// Helper para obtener valores de los inputs con conversión segura
			const getValue = (selector, parser = (val) => val, defaultValue = null) => {
				const element = document.querySelector(selector);

				if (!element) return defaultValue;

				// Manejar diferentes tipos de inputs
				if (element.type === 'checkbox') {
					return element.checked; // Devuelve true o false si es un checkbox
				}

				const value = element.value || defaultValue;
				return parser(value); // Aplica el parser (si se pasa) al valor
			};

			// Obtener los valores del formulario
			const data = {
				Id: getValue('#Id', parseInt, 0),
				SL: getValue('#SL', Boolean, false),
				TP1: getValue('#TP1', Boolean, false),
				TP2: getValue('#TP2', Boolean, false),
				TP3: getValue('#TP3', Boolean, false),
				Target: getValue('#Target', String, ''),
				Chart: getValue('#Chart', String, ''),
				Comments: getValue('#Comments', String, ''),
				OrderTypeId: getValue('#OrderTypeId', String, ''),
				TradeTypeId: getValue('#TradeTypeId', String, ''),
				Quantity: getValue('#Quantity', parseFloat, 0),
				Price: getValue('#Price', parseFloat, 0),
				CommissionRate: getValue('#CommissionRate', parseFloat, 0),
				Total: getValue('#Total', parseFloat, 0),
			};


			var url = "@Url.Content("~/Orders/CloseOrder")";
			fetch(url, {
				method: 'POST',
				body: JSON.stringify(data),
				headers: {
					'Content-Type': 'application/json',
				}
			}).then(res => res.json())
			.catch(error => console.error('Error:', error))
			.then((data) => {
				// Show loading indication
				submitButton.setAttribute('data-kt-indicator', 'off');

				// Disable button to avoid multiple click
				submitButton.disabled = false;

				ShowNotification(data.notificationType, data.message);

				if(data.success)
				{
				   $("#vModal").modal("hide");
				   LoadDataTable();
				}


			});


		}


		const config = {
				SL: { uncheck: ["TP1", "TP2", "TP3"], message: "La operación se efectuó con una pérdida del 0,00%." },
				TP1: { uncheck: ["SL", "TP2", "TP3"], message: "La operación se realizó con un rendimiento del 0.00%." },
				TP2: { uncheck: ["SL", "TP3"], check: ["TP1"], message: "La operación se realizó con un rendimiento del 0.00%." },
				TP3: { uncheck: ["SL"], check: ["TP1", "TP2"], message: "La operación se realizó con un rendimiento del 0.00%." }
			};


		Object.keys(config).forEach(id => {
			document.getElementById(id).addEventListener("change", function () {
				if (this.checked) {
					const { uncheck = [], check = [], message } = config[id];

					// Desmarca los checkboxes indicados
					uncheck.forEach(uncheckId => $('#' + uncheckId).prop('checked', false));

					// Marca los checkboxes indicados
					check.forEach(checkId => $('#' + checkId).prop('checked', true));

					// Actualiza el texto de Comments
					$('#Comments').text(message);
				}
			});
		});


	});

	//Script para que funcione el select2 en el modal
	$('#OrderTypeId, #TradeTypeId')
	.select2({ dropdownParent: $('#vModal'), minimumResultsForSearch: Infinity });

	Inputmask("decimal", {
		groupSeparator: ",",         // Separador de miles
		digits: 4,                   // Número de decimales
		digitsOptional: false,       // Obliga a mostrar los decimales
		prefix: "",                  // Prefijo de moneda
		rightAlignNumerics: false,   // Alineación del número (desactivado para mantenerlo a la izquierda)
		allowMinus: false,           // No permitir números negativos
		autoUnmask: true,            // Devuelve el valor sin formato al enviar
	}).mask("#Target, #Quantity, #Price, #CommissionRate, #Total");

	

</script>