/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

li.jstree-node > a.jstree-anchor:hover {
    font-weight: bold;
    background-color: transparent !important; /* Fondo transparente */
    color: inherit !important; /* Mantiene el color de texto original */
    border: none !important;
}

/* Se utiliza para cambiar el color, tamaño y grosor de las letras de las tablas */
tbody, thead {
    color: var(--bs-text-muted) !important;
    font-size: 1.075rem !important;
    font-weight: 500 !important;
}